.menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.button {
    padding-top: 30px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.button:hover {
    color: rgba(250, 103, 45, 0.5);
    cursor: pointer;
}